{% extends 'main/base.html' %}
{% block body %}

    <form method="post">
        {% csrf_token %}
        <!--<input class="hide" type="checkbox" id="chb"></button>
        <label for="chb" class="chbL">Dziala</label>-->
        
        {% if not admin%}
            {% if user.is_staff%}
                <button class="btn btn-outline-primary" type="submit" name="admin" value="admin">AdminView</button>
            {%endif%}
            <button type="submit" class="btn btn-outline-success" name="all" value="all">Wszystkie gry</button>
            <button type="submit" name="your" class="btn btn-outline-info" value="your">Twoje gry</button>
        {%else%}
            <button type="submit" class="btn btn-outline-primary" name="normal" value="normal">Powrót</button>
        {%endif%}
        <div style="margin-top: 10px;"></div>
        {% for g in UserGames%}
            <h3>{{g.name}}</h3>
            <img class="gamePic" src="{{g.picture}}">
            <h3>Ranks: {{g.ranking}}</h3>
            {%if admin%}
                <button type="submit" name="del" class="btn btn-outline-danger" value="{{g.id}}">Usuń</button>
                <button type="submit" name="edit" class="btn btn-outline-success" value="{{g.id}}">Edytuj</button>
            {%else%}
                <button type="submit" class="btn btn-outline-danger" name="dGame" value="{{g.id}}">Usun z gier w które grasz</button>
            {%endif%}
            <div style="margin-top: 10px;"></div>
        {%endfor%}
        
        {% for g in games%}
            <h3>{{g.name}}</h3>
            <img class="gamePic" src="{{g.picture}}">
            <h3>Ranks: {{g.ranking}}</h3>
            {%if admin%}
                <button type="submit" name="del"  class="btn btn-outline-danger" value="{{g.id}}">Usuń</button>
                <button type="submit" name="edit" class="btn btn-outline-success" value="{{g.gameformula.id}}">Edytuj</button>
            {%else%}
                <button type="submit" class="btn btn-outline-success" name="add" value="{{g.id}}">Dodaj do gier w które grasz</button>
            {%endif%}
        {%endfor%}
    </form>
{%endblock%}