{% extends 'main/base.html' %}
<!-- Home dla zalogowanego-->
{% block body %}
    <div class="AboutText">
        <h1 >Witaj na MeetYourGamer.com!</h1>
        <p>Ta strona przeznaczona jest dla graczy poszukujących znajomych do gry. Znajdziesz tutaj przeróżne gry
            jak i również sam będziesz mógł/mogła dodać własne gry, których jeszcze na stronie nie ma,
            powiększając naszą kolekcję. Jest więc co robić, dlatego nie trać czasu, edytuj swój profil 
            i szukaj graczy do wspólnej zabawy!</p>
        <h3>Jak to działa?</h3>
        <p>Na twoim profilu oprócz czystko kosmetycznych rzeczy jak zdjęcie profilowe, dodatkowych informacji
            o tobie, jak imie i nazwisko czy wiek(który czasem może być pomocny :D), znajduje się też jedna, a właściciwie dwie ważne opcje.
            Po pierwsze zakładka <strong>Kiedy grasz?</strong> umożliwia uzupełnienie przedziałów czasowych w których grasz, to właśnie na ich podstawie
        algorytm szuka innych graczy którzy grają w tym samym, lub podobnym czasie, w te same gry co ty!!!! 
        <h3>Jak dodać gry do moich gier w które gram?</h3>
        <p>Sprawa jest bardzo prosta, wystarczy wejść w zakładke Gry, tam pokazują nam się wszystkie gry, jakie znajdują się na ten moment na stronie.
            Wystarczy znaleźć te w które grasz i dodać je do twoich gier. Po dodaniu gra będzie już widoczna na twoim profilu :D. Przy niektórych grach 
            będziesz poproszony o wybranie rangi jaką masz w tej grze, bądź poziomu doświadczenia. Po wybraniu twoje umiejętności również będą brane pod uwagę, 
            przy wyszukiwaniu, tak aby dobrać Ci najlepszego partnera do gry:D</p>
    </div>
{%endblock%}