{% extends 'main/base.html' %}

{% block body %}
<div class="text-center">
    <img class="profPic" src="{{profile.profilePicture}}">
    <h1 class="extraBig">{{profile.user.username}}</h1>
    {%if user.get_username == profile.user.username%}<a class="btn btn-outline-success" href="/editprofile">Edytuj profil</a><div style="margin-top: 20px;"></div>{%endif%}
    {% if profile.imie %}<h2>{{profile.imie}}</h2>{%endif%}{% if profile.nazwisko %}<h2>{{profile.nazwisko}}</h2>{%endif%}
    {% if profile.wiek %}<h2>{{profile.wiek}} lat</h2>{%endif%}
    
    {%if profile.mondays.all|length > 0%}
        <h2>Poniedziałek<em style="opacity: 0.8;"> 
            {% for monday in profile.mondays.all%}
                {%if monday.start == "00:00" and monday.end == "00:00" %}Cały dzień
                {%elif not monday.end%} {{monday.start}}-00:00
                {%elif not monday.start%} 00:00-{{profile.monday.end}}
                {%else%}{{monday.start}}-{{monday.end}}
                {%endif%}
            {% endfor %}</em></h2>
    {%endif%}
    {%if profile.tuesdays.all|length > 0%}
        <h2>Wtorek <em style="opacity: 0.8;"> 
            {% for tuesday in profile.tuesdays.all%}
                {%if tuesday.start == "00:00" and tuesday.end == "00:00" %}Cały dzień
                {%elif not tuesday.end%} {{tuesday.start}}-00:00
                {%elif not tuesday.start%} 00:00-{{profile.tuesday.end}}
                {%else%}{{tuesday.start}}-{{tuesday.end}}
                {%endif%}
            {% endfor %}</em></h2>
    {%endif%}
    {%if profile.wedensdays.all|length > 0%}
        <h2>Środa <em style="opacity: 0.8;"> 
            {% for wedensday in profile.wedensdays.all%}
                {%if wedensday.start == "00:00" and wedensday.end == "00:00" %}Cały dzień
                {%elif not wedensday.end%} {{wedensday.start}}-00:00
                {%elif not wedensday.start%} 00:00-{{profile.wedensday.end}}
                {%else%}{{wedensday.start}}-{{wedensday.end}}
                {%endif%}
            {% endfor %}</em></h2>
    {%endif%}
    {%if profile.thursdays.all|length > 0%}
        <h2>Czwartek<em style="opacity: 0.8;"> 
            {% for thursday in profile.thursdays.all%}
                {%if thursday.start == "00:00" and thursday.end == "00:00" %}Cały dzień
                {%elif not thursday.end%} {{thursday.start}}-00:00
                {%elif not thursday.start%} 00:00-{{profile.thursday.end}}
                {%else%}{{thursday.start}}-{{thursday.end}}
                {%endif%}
            {% endfor %}</em></h2>
    {%endif%}
    {%if profile.fridays.all|length > 0%}
        <h2>Piątek<em style="opacity: 0.8;"> 
            {% for friday in profile.fridays.all%}
                {%if friday.start == "00:00" and friday.end == "00:00" %}Cały dzień
                {%elif not friday.end%} {{friday.start}}-00:00
                {%elif not friday.start%} 00:00-{{profile.friday.end}}
                {%else%}{{friday.start}}-{{friday.end}}
                {%endif%}
            {% endfor %}</em></h2>
    {%endif%}
    {%if profile.saturdays.all|length > 0%}
        <h2>Sobota <em style="opacity: 0.8;"> 
            {% for saturday in profile.saturdays.all%}
                {%if saturday.start == "00:00" and saturday.end == "00:00" %}Cały dzień
                {%elif not saturday.end%} {{saturday.start}}-00:00
                {%elif not saturday.start%} 00:00-{{profile.saturday.end}}
                {%else%}{{saturday.start}}-{{saturday.end}}
                {%endif%}
            {% endfor %}</em></h2>
    {%endif%}
    {%if profile.sundays.all|length > 0%}
        <h2>Niedziela<em style="opacity: 0.8;"> 
            {% for sunday in profile.sundays.all%}
                {%if sunday.start == "00:00" and sunday.end == "00:00" %}Cały dzień
                {%elif not sunday.end%} {{sunday.start}}-00:00
                {%elif not sunday.start%} 00:00-{{profile.sunday.end}}
                {%else%}{{sunday.start}}-{{sunday.end}}
                {%endif%}
            {% endfor %}</em></h2>
    {%endif%}
    
        <form method="post">
            {% csrf_token %}
            
            {% if other %}
                {%if pending%}
                    <button class="notWorking btn btn-outline-secondary" type="submit" name="n" value="n">Oczekuje na akceptacje</button>
                {%else%}
                    {%if not friends%}
                        <button type="submit" name="addFriend" class="btn btn-outline-success" value="{{profile.id}}">Dodaj do znajomych</button>
                    {%else%}
                        <button type="submit" name="delFriend" class="btn btn-outline-danger" value="{{profile.user.id}}">Usuń ze znajomych</button>
                    {%endif%}
                {%endif%}
            {%endif%}
        </form>
    
    
    {%if si%}<h2>Gry w które gra:</h2>
        {%for ugame in profile.user.usergame_set.all%}
            <div class="grid">
                <div class="g-col-4"><img class="gamePicSmall" src="{{ugame.game.picture}}"></div>
                <div class="g-col-4"><h4>{{ugame.game.name}}</h4></div>
                <div class="g-col-4"><h6>{%if ugame.rank%}Ranga: {{ugame.rank}}{%endif%}</h6></div>
            </div>
                
        {%endfor%}
    {%else%}
        <h3>Ten użytkownik nie gra w żadne gry</h3>
    {%endif%}
</div>
{%endblock%}