{% extends 'main/base.html' %}
{% block body %}

    {% if si %}
        {% for formula in obj%}
            <a href="/staff/formulas/{{formula.id}}" class="elem">
                <h2>#{{formula.id}}</h2>
                <h3>{{formula.game.name}}</h3>
                <img class="gamePic" src="{{formula.game.picture}}">
                <h3>{{formula.author.username}}</h3>
                <p>{{formula.status}}</p>
                <p>{{formula.signDate}}</p>
            </a>
        {%endfor%}
    {% else%}
            <h2>Wygląda na to że nie ma żadnych nowych wniosków</h2>
    {%endif%}
{%endblock%}